@import '../../scss/variables.scss';

.menu-mobile {
  display: block;
  position: fixed;
  top: -80vh;
  left: 0;
  width: 100vw;
  height: 80vh;
  background-color: $primary;
  z-index: $z-menu-mobile-open;
  border-radius: 30px;
  transition: all 0.6s ease;

  &.isOpen {
    top: 0;

  }

  @include desktop {
    display: none;
  }

}