@import './variables.scss';

:export {
  primary: $primary;
  error: $error;
  secondary: $secondary;
  hover: $hover;
  text: $text;
  white: $white;
  black: $black;
  clothes: $clothes;
  waste: $waste;
  hongkong: $hongkong;
}

.root {
  color: $primary
}