// colors
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,700&display=swap');

$primary: #108339;
$error: #801513;
$secondary: #CCCCCC;
$clothes: #007BE3;
$waste: #EB8424;
$hongkong: #D72C40;
$hover: #801513;
$text: #263E42;
$white: #fff;
$black: #000;
//Height
$heightHeaderMobile: 80;
$heightHeaderDesktop: 90;


$title_font: 24px;
$text_font: 14px;


// Z-index
$Zmenu-mobile: 10000;
$Zmenu: 1000;
$bottomImg: -10;
// font-family

$general: 'Rubik',
sans-serif;
$outstanding: 'Raleway',
sans-serif;