// colors
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap');

$primary: #108339;
$error: #801513;
$white-smoke: rgb(226, 226, 226);
$text_gray:#8D8D8D;
$text_news_gray: #9A9A9A;
$text_filter: #CECECE;
$clothes: #007BE3;
$waste: #EB8424;
$hongkong: #D72C40;
$hover: #801513;
$text: #263E42;
$white: #fff;
$black: #222222;

$right-margin: 26px;

$title_font: 24px;
$text_font: 14px;


// Z-index
$Zmenu-mobile: 10000;
$z-dropdwom: 1000;
$Zmenu: 100;
$bottomImg: -10;
// font-family

$general: 'Rubik',
sans-serif;
$outstanding: 'Raleway',
sans-serif;