@import '../../scss/variables.scss';

.ButtonMenu {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  align-items: center;
  width: calc(100% - 14px);
  height: 65px;
  cursor: pointer;
  margin: 25px 0 25px 14px;



  .icon__contianer {
    width: 72px;
    margin-left: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  svg .stroke-1 {
    //fill: $white;
    stroke: $white;
  }

  svg:first-child {
    fill: $white;
  }

  svg:nth-child(2) {
    display: none;
  }

  p {
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 300;
    font-family: $general;
    color: $white;
    margin: 5px 0 0 -18px;
    text-decoration: none;
  }


  &:hover,
  .active & {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    p {
      display: none;
    }
    &::before {
      content: "";
      position: absolute;
      background-color: $white;
      right: 0;
      top: -20px;
      height: 20px;
      width: 20px;
      mask-image: radial-gradient(circle 6px at 0 0, transparent 0, transparent 20px, black 20px);

    }

    &::after {
      content: "";
      position: absolute;
      background-color: $white;
      right: 0;
      bottom: -20px;
      height: 20px;
      width: 20px;
      mask-image: radial-gradient(circle 3px at 0 20px, transparent 0, transparent 20px, black 20px);

    }

    background-color: $white;

    svg {
      display: inline-block;
      fill: $primary;
      
    }
    svg .stroke-1 {
      //fill: $white;
      stroke: $primary
    }
  }

}