@import '../../scss/variables.scss';

.menu {
  position: fixed;
  width: 100px;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: $primary;

  a {
    margin-bottom: 40px;
    display: block;
  }

}